.caja
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fila
{
    height: 80vh;
    width: 30vw;
    display: table-row;
    border: 3px solid blue ;
    background-image: linear-gradient(180deg, #ffff00 0, #ffff00 8.33%, #ffff00 16.67%, #ddff12 25%, #b5ff30 33.33%,
    #88ff44 41.67%, #53f253 50%, #00e260 58.33%, #00d56c 66.67%, #00c978 75%, #00c084 83.33%, #00b992 91.67%, #00b4a0 100%); 
}
.celda
{
    display:table-cell;
    align-items: center;
}
input:valid
{
    -webkit-box-shadow: 17px 17px 36px 3px #000000; 
    box-shadow: 17px 17px 36px 3px #000000;
    background: #BCBCBC;
}
input:invalid
{
    -webkit-box-shadow: -12px -12px 31px -4px #FF0000; 
    box-shadow: -12px -12px 31px -4px #FF0000;
    background: #FF625C;
}